<html>
<body>
<form action="/recipes" method="POST">
    <p>Recipe Name:<input type="text" name="name"></p>
    <p>Recipe Ingredients:<input type="text" name="ingredients"></p>
    <p>Recipe Cook Time: <Input type="text" name="cook_time"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>